
body {
  padding-top: 0px;
  padding-bottom: 40px;
  background-color: @ffBackground;
  background-image: url('../img/paper/paper.png');
  font-family: "Ubuntu", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: @gray;
}

.top-bar {
  height: 80px;
//  margin-bottom: @spaceLarge;
  padding-top: @spaceLarge;
  padding-bottom: @spaceMedium;
  text-align: center;
}

.upload-region{
  background-color: @ffGreenLighter;
  text-align: center;
  color: @white;
  padding-bottom: @spaceLarge;

  .header1 {
	font-size: 40px;
	line-height: 1;
	margin: 10px;
	}

  .instruction-box {
  	text-align: left;
    background-color: @ffGreenLighter;
	color: @white;

	text-shadow: 0 1px 1px rgba(0, 0, 0, .4);

  	padding: @paddingSmall;
  	height: 120px;
  	border: 1px solid #ddd;
  	.border-radius(@borderRadiusLarge);
  	.box-shadow(0 1px 4px rgba(0,0,0,.065));
  	margin-bottom: @spaceLarge;
  }


}

.flyleaf-pov {
  background-color: @grayLighter;
	border: 1px solid #ddd;
	.border-radius(@borderRadiusLarge);
	.box-shadow(0 1px 4px rgba(0,0,0,.065));
  text-align: center;
  height: 240px;
  padding-top: 90px;
  .top-large-space {
	margin-top: @spaceLarge;
  }

  .bottom-large-space {
  	margin-bottom: @spaceLarge;
  }

}

.btn-upload {
  	.buttonBackground(@ffbtnPrimaryBackground, @ffbtnPrimaryBackgroundHighlight);
}



/*** HEADER CONTENT ****/
#cta{margin-top:45px; margin-bottom:90px; text-align:center; }
/*#header a{ display:block; width:129px; height:131px; background:url(../img/logo.png) no-repeat center; text-indent:-9999px; margin:0 auto;}
*/
#cta a{
  width:320px; display:block; background:#7abe63; margin:0 auto; color:#fff;padding:30px 0;
  font-size:36px; line-height:48px;
  -webkit-border-radius: 100px;
  border-radius: 100px;
  -moz-border-radius:100px;
  -moz-background-clip: padding; -webkit-background-clip: padding-box; background-clip: padding-box;  
  -webkit-box-shadow: 0px 2px 0px 0px #3e9b20;
  -moz-box-shadow: 0px 2px 0px 0px #3e9b20;
    box-shadow: 0px 2px 0px 0px #3e9b20;
  text-shadow: 0px 1px #3e9b20;
}

#cta a:hover{ text-decoration:none;}

#success{margin-top:45px; margin-bottom:90px; text-align:center; height: 138px;}
#success a {color: @ffBrown;}
#success a:hover {text-decoration: none; color: @ffBrownGrayish; }
#success h4 {font-size: 24px; line-height: 36px; font-weight: 400; }
#success h4 a {font-weight: 700;}
#success p {margin-top: 20px; font-weight: 400; font-family: "Ubuntu Condensed", serif; }
#success p a { color: @ffGreen; }



/*** MAIN CONTENT ****/
#maincontent{ text-align:center;}
#maincontent h2{ font-size:30px; font-weight: 400; margin-bottom:10px; }
#maincontent p{ font-size:16px; line-height:16px; font-weight:400; font-style:italic;}


/*** FEATURES ****/
#features{margin-top:40px; text-align:center; }
#features .divider{background:url(/img/divider.png) repeat-y right;}
.featureicon{ color:@ffGreen; font-size:56px; margin-bottom:20px; padding:0 20px 0 0;}
#features h3{ font-size:20px; line-height:30px; font-weight:700; padding:0 20px 0 0;}
#features p{font-size:13px; line-height:20px; font-weight:400;padding:10px 20px 0 0;}
.divider{background:url(/img/divider.png) repeat-y right;}

/*** FOOTER ****/
#footer{margin-top:10px; text-align:center; background:url(/img/footer-divider.png) repeat-x top; padding-top:30px;}
#footer h4{ margin:0 0 20px;font-size:14px; font-family: 'Ubuntu Condensed', serif; line-height:24px; font-weight:400;}
#footer h4 i{ font-size:10px; margin: 0 10px; color: @ffBrown;}

.footericon{ color:#7abe63; font-size:36px; margin-bottom:15px;}
.footericon a{ color:#7abe63;}
.footericon a:hover{ color:#3e9b20; text-decoration:none;}
#footer p{ font-size:10px; font-weight:400;}



// Flyleaf color scheme
// -------------------------
@ffBrownLighter:				#C09D7A;
@ffBrownLight: 					#C09061;
@ffBrown: 						#81562C;
@ffBrownDark: 					#54310E;
@ffBrownGrayish: 				#614931;
@ffGreenLighter: 				#A1C782;
@ffGreenLight: 					#93C769;
@ffGreen: 						#5D8E35;
@ffGreenDark: 					#335C11;
@ffGreenGrayish: 				#4F6A38;
@ffBackground:                  #F7F7F7;

// Button colors
// -------------------------
@ffbtnPrimaryBackground: 			@ffGreenLight;
@ffbtnPrimaryBackgroundHighlight:	@ffGreen;

// Margin spacing
// -------------------------
@spaceLarge:          15px;
@spaceMedium:         10px;
@spaceSmall:          5px;


